<h1>Menu Items</h1>
<h1>App Ideas</h1>
<div>
  <div>
    <h3>Create A New Dish</h3>
    <a href="/dishes/new">New Dish</a>
  </div>
</div>
<div>
  <div>
    <h3>Menu Items</h3>
    <a href="/dishes">All Dishes</a>
  </div>
</div>